p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.w3-code {
    width: auto;
    background-color: #fff;
    color: #000;
    padding: 8px 12px;

    word-wrap: break-word;
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.mylist {
    float: left;
    width: 120px;
}
.mylist a{
    text-decoration: none;
    color: brown;
}
.introul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    height: auto;
    color:black;
    font-size: auto;
    white-space:auto;
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
}