p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
}
ul.vertical a.active {
    background-color: #04AA6D;
    color: white;
}
ul.ex {
    width: 90%;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul.vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
ul.vertical li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
.w3-col.m4, .w3-third {
    width: 33.33333%;
}
.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
    float: left;
}
.w3-white, .w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}
.w3-col.m8, .w3-twothird {
    width: 66.66666%;
}
.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
    float: left;
}
ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
div {
    display: block;
}
ul.horizontal li a.active {
    background-color: #04AA6D;
}
ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.gray {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul.gray li a.active {
    color: white;
    background-color: #008CBA;
}
ul.gray li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a {
    background-color: transparent;
}