.ws-table-all td, .ws-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}
.w3-responsive {
    display: block;
    overflow-x: auto;
}
.ws-table-all td, .ws-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}